.reminder-form {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .input {
    width: 100%;
  }

  .date-picker {
    flex: 1;
  }

  .save-button {
    align-self: flex-start;
    color: white;
    font-size: 15px;
    font-weight: 500;
    background-color: #F04393 ;
  }
}
